@{
    Layout = "_LayoutNew";
}

@*link di ritorno all Home
*@

<h1>Snacks:</h1>


@* 1. Dichiarare una variabile valorizzandola con il nostro nome.
Dichiarare un'altra variabile valorizzandola con il nostro cognome.
Stampare il nostro nome e cognome all'interno di un tag h2.*@

@{
    string nome = "Gloria";
    string cognome = "Gherardi";
}

<h2>@nome @cognome</h2>

@* 2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
Stampare dentro uno span il risultato.*@

@{
    int number = 5;
    int somma = 0;

    string SumNumber(int somma)
    {
        for (int i = 0; i < number; i++)
        {
            somma += i;
        }
        //<span>@Console.WriteLine("Somma da 1 a " + number + ": "+ somma)</span>
        string stringa = "Somma da 1 a " + number + ": " + somma;
        return stringa;
    }
}

<span>@SumNumber(number)</span>


@* 3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina*@
@{

    string stringa = "nel mezzo del cammin di nostra vita";
    char letter = 'a';

    int countLetters(string stringa, char letter)
    {
        int count = 0;
        foreach (char letters in stringa)
        {
            if (letters == 'a')
                count++;
        }
        return count;
    }
}

<div>Lettera a: @countLetters(stringa, letter)</div>


@* 4. Creare una List<int>
    di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70*@
@{
    List<int> intList = new List<int>();

    for (int i = 0; i < 20; i++)
    {
        Random rnd = new Random();
        intList.Add(rnd.Next(1, 91));
    }
}
<section>
    <ol>
        @foreach (int n in intList)
        {
            if (n >= 20 && n <= 70)
            {
                <li>@n</li>
            }
        }
    </ol>
</section>

@*5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi*@

<div>Data e ora attuale: @DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss") </div>

@*  6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina*@
@{
    DateTime today = DateTime.Now;
}
@*a. la data di 7 giorni fa
    b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
    c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
    Riduci*@
@{
    <span>7 gioni fa era il: @today.AddDays(-7);</span> <br/>
    <span> Oggi é: @today.DayOfWeek</span><br/>
    <span>Fra un'anno sarà: @today.AddYears(1).DayOfWeek</span>
}



@*link di ritorno all Home
*@